<div class="container">
    <div class="header">
         <div class="logo">
            <img  src="/assets/images/logo.png" alt="Marhaba AirLines" class="img-fluid">
        </div>
        <br>
        <div class="titre">
            <h3>CARTE D'EMBARQUEMENT / BOARDING PASS</h3>
            
            <h3>**nom / **prenom</h3>
            <p>***Numero reservation</p>
        </div>
    </div>
   <div class="info">
        <table>
            <tr>
                <td>VOL/FLIGHT : </td>
                <td>SIEGE/SEAT : </td>
                <td>CLASSE/CLASS : </td>
            </tr>
            <tr>
                <td><h3>***Num Vol</h3></td>
                <td><h3>***Siege</h3></td>
                <td><h3>***class</h3></td>
            </tr>
            <tr>
                <td>EFFECTUE PAR/OPERATED BY :</td>
                <td> MARHABA AIRLINES</td>
            </tr>
            <tr>
                <td><h3>***ville départ / ***code <br> TERMINAL <br> ***Date de départ </h3></td>
                <td><h3>A / TO</h3></td>
                <td><h3>ville d'arrivée / ***Code <br> TERMINAL <br> ***Date d'arrivée </h3></td>
            </tr>
            <tr>
                <td><h3></h3></td>
                <td></td>
                <td><h3></h3></td>
            </tr>
            
        </table>
   </div>
   
    <img  src="/assets/images/qr.png" alt="Marhaba AirLines" class="qr">
    
</div>
