<!-- ======= Footer ======= -->
<footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyrights <br><br>
            <strong><span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HMAMOUCHI &nbsp;&nbsp; MAYSAE </span></strong> 
            <strong><span>NOROHANITRINIAINA JOËLLA STECY</span></strong>
            <br>
          <strong><span> &nbsp;&nbsp;RASOANIRINA Haingotiana Anissa Joachin</span></strong>
          <strong><span>EL AROUD  OMAR</span></strong>

        </div>
        
      </div>
    </footer><!-- End #footer -->
