
<div class="vol">
  
  <span style="color:orange;font-size:24px; ">&#9992;</span>  Num_Vol: <span style="color:orange; "> </span>  &nbsp; &nbsp; &nbsp;   <span style="color:orange; font-size:24px;">&#9992;</span> Avion:  <span style="color:orange"></span><br>
  <i class="fa fa-globe" style="font-size:24px; color:orange;"></i> Ville de Départ:  <span style="color:orange"> </span>  &nbsp; &nbsp; &nbsp;
  <i class="fa fa-globe" style="font-size:24px; color:orange;"></i> Ville d'arrivée: <span style="color:orange"> </span>


        <br><i class="fa fa-calendar" style="color:orange"></i> Date et heure de départ: <span style="color:orange"> </span>à <span style="color:orange"> </span> &nbsp; &nbsp;&nbsp; 
        <i class="fa fa-calendar" style="color:orange"></i> Date et heure d'arrivée: <span style="color:orange"></span>à <span style="color:orange"> </span>
      <br>
      <i class="fa fa-child" style="font-size:24px; color:orange; "></i> Nombre de places disponibles: <span style="color:orange"></span>
      <br>
      <br>
    <div style="display:flex;" >
      <button id="submit" type="submit" class="btn btn-primary" style="margin-top:-5px;"><a style="color:white;" href="#">Réserver</a></button>
    </div>
</div>

