<app-aside-fix></app-aside-fix>

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content"  style="margin-top:-1.5cm;">
                <div class="form-items">
             
                     <h3 style="margin-top:0cm;"><span style="color:orange; ">&#9992;</span> Suivre une reservation : </h3>
                    <form class="requires-validation" action=" " method="POST">
                        <div class="col-md-12">
                            <input class="form-select mt-3" type="text" name="reservation" id="reservation" required placeholder="Référence Réservation">              
                        </div>                          
                        <!--<div class="col-md-12">
                            <input class="form-select mt-3" type="text" name="numPasseport" id="numPasseport" required placeholder="Numéro de passeport">         
                        </div>-->
                        
                        <br>
                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Rechercher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



