<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="menu">
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="#" class="img logo square mb-5" style=" background-image: url(assets/images/logo.png);"></a>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse" aria-expanded="false" >Accueil</a>
          </li>
          <li>
            <a routerLink="/chercherVol" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Faire une réservation</a>
          </li>
          <li>
            <a routerLink="/chercherVol" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Chercher un vol</a>
          </li>
         <!-- <li>
            <a routerLink="/carte" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Carte d'embarquement</a>
          </li> -->
         <!-- <li>
            <a routerLink="/billet" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Billet d'avion</a>
          </li>-->
          <li>
            <a routerLink="/passager" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Passager</a>
          </li>
        </ul>
        <div class="footer">
         
          <p> Copyright &copy;<script>document.write(new Date().getFullYear());</script></p>
          <p>MAYSAE  HMAMOUCHI   		<a href="#"  style="size:0.3cm ; "></a> <BR>
          <a href="https://www.linkedin.com/in/maysae-hmamouchi-a12a40233/"> Profile LinkedIn</a></p>
          <p>Omar EL Arroud <a href="#"  style="size:0.3cm ; "></a> <BR>
          <a href="https://ma.linkedin.com/in/omar-el-arroud-a454561bb"> Profile LinkedIn</a></p>
          <p>NOROHANITRINIAINA JOËLLA STECY
          <a href="https://www.linkedin.com/in/jo%C3%ABlla-stecy-norohanitriniaina-240b011b3/"> Profile LinkedIn</a></p>
          <p>RASOANIRINA HAINGOTIANA J. ANISSA
          <a href="https://ma.linkedin.com/in/anissa-rasoanirina-6b5198246"> Profile LinkedIn</a></p>
        </div>
      </div>
    </nav>
  </div>

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/popper.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/main.js"></script>
</div>
