<app-menu></app-menu>
<app-header></app-header>
<div class="container">
    <div class="info_reservation">
        <h3>#_Référence de reservation : </h3>
        <h4>Statut : </h4>
        <span style="color:orange;font-size:24px; ">&#9992;</span> Num_Vol: <span style="color:orange; "> </span>  &nbsp; &nbsp; &nbsp;   <span style="color:orange; font-size:24px;">&#9992;</span> Avion:  <span style="color:orange"></span><br>
        <i class="fa fa-globe" style="font-size:24px; color:orange;"></i> Ville de Départ:  <span style="color:orange"> </span>  &nbsp; &nbsp; &nbsp;
        <i class="fa fa-globe" style="font-size:24px; color:orange;"></i> Ville d'arrivée: <span style="color:orange"> </span>
        <br><i class="fa fa-calendar" style="color:orange"></i> Date et heure de départ: <span style="color:orange"> </span> <span style="color:orange"> </span> &nbsp; &nbsp;&nbsp; 
        <i class="fa fa-calendar" style="color:orange"></i> Date et heure d'arrivée: <span style="color:orange"></span> <span style="color:orange"> </span>
        <br>
        <i class="fa fa-child" style="font-size:24px; color:orange; "></i> Nombre de sièges : <span style="color:orange"></span>
        <br>
        <br>
        <div class="form-button mt-3">
            <button id="submit" type="submit" class="btn btn-primary">Modifier</button> <!--Ramène vers le formulaire de reservation pré-remplie-->
            <button id="submit" type="submit" class="btn btn-primary btn2">Supprimer</button>
        </div>
    </div>
    <div class="info_client">
        <h3>#_référence du client : </h3>
        <p> <b>Numéro passeport : </b></p>
        <p> <b>Nom : </b> :  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  <b>Prénom : </b></p>
        <p><b>Date de naissance :</b> &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; <b>Nationalité :</b> </p>
        <p><b>Email :</b> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; <b>Numéro de téléphone :</b> </p>
        <p> <b>Commentaire : </b></p>
    </div>
    
    <div class="info_passager">
        <!--A boucler pour les i passager-->
        <div class="passager1">
            <h3>#_Passager ***i : </h3>
            <p> <b>Numéro passeport : </b></p>
            <p> <b>Nom : </b> :  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  <b>Prénom : </b></p>
            <p><b>Classe :</b> &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; <b>Numéro de siège :</b> &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; <b>Prix :</b></p>
            <br>
            <div class="form-button mt-3">
                <button id="submit" type="submit" class="btn btn-secondary">Modifier</button> <!--Ramène vers le formulaire de reservation pré-remplie-->
                <button id="submit" type="submit" class="btn btn-secondary btn2">Supprimer</button>
                <button id="submit" type="submit" class="btn btn-secondary btn2">Voir Billet</button><!--Affichage Billet-->
                <button id="submit" type="submit" class="btn btn-secondary btn2">Voir Carte...</button><!--Affichage Carte d'embarquement-->
            </div>
        </div>

    </div>
</div>