
<!-- ======= Header ======= -->
<header id="header">
        <div class="logo">
          <a href="/"><img  src="/assets/images/logo.png" alt="Marhaba AirLines" class="img-fluid"></a>
        </div>     
</header><!-- End #header -->

<section id="hero">

      <div class="hero-container" style="color:rgb(190, 121, 30); margin:0;">
    
    <h1 style="font-weight:bolder; font-size: 1.5cm; margin-top:-2cm;">{{title}}</h1><br>
    <h1>{{title2}}</h1><br><br><br>
    <form action="/login" method="POST" class="php-email-form">
      
      <div  >
        <div class="col-md-2 form-group pr-md-1">
          <input type="text" name="id" class="form-control" id="user" placeholder="Votre Matricule" required>
        
          <input style="color:black;"type="password" class="form-control" name="password" id="password" placeholder="Votre Mot de Passe" required>
        </div>
      </div>
    
    <br>
    
    <div class="text-center"><button type="submit">Se connecter</button></div>
    </form>
    <strong>
      <!-- THINK ABOUT ERROR SCENARIO-->
     
    </strong>
    </div>
    

