<!-- ======= List Section ======= -->
<section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Les différentes fonctionnalités de cette application</h2>
        </div>

        <ul style="color:black; font-weight:400; " class="fst-italic" >
        <li class="list-group-item">La génération des tickets de voyages.</li>
        <li class="list-group-item">La génération des tickets de bagages. </li>
        <li class="list-group-item">La gestion des reservations des clients.</li> 

 
        
        </ul>

      </div>
    </section>
    <!-- End ==============================================================-->