<div class="container">
    <div class="header">
         <div class="logo">
            <img  src="/assets/images/logo.png" alt="Marhaba AirLines" class="img-fluid">
            <br>
        </div>
        <br>
        <br>
        <br>
        <div class="titre">
            <h2>BILLET ELECTRONIQUE</h2>
            <p>ELECTRONIC TICKET</p>            
        </div>
    </div>
    <div class="info">
        <img  src="/assets/images/qr.png" alt="Marhaba AirLines" class="qr">
        <table>
            <tr>
                <td><h3>REFERENCE DE VOTRE RESERVATION </h3>
                    <p>BOOKING REFERENCE</p></td>
                <td><h3>***Num Reservation</h3></td>
            </tr>
            <tr>
                <td><h4>A l'aéroport, vous devez présenter une pièce d'identité.</h4>
                    <p>At the airport, you must present proof of identity.</p></td>
            </tr>
            <tr>
                <td><h3>PASSAGER</h3>
                    <p>PASSENGER</p></td>
                    <td><h3>***Nom et prénom passager</h3></td>
            </tr>
        </table>
        <p><b>ITINERAIRE /</b> ITINERARY</p>
        <table>
            <tr class="tab1">
                <td><b>Départ / </b>Departure</td>
                <td><b>Arrivée / </b>Arrival</td>
                <td><b>Vol / </b>Flight</td>
                <td><b> Total bagages** /</b>Total bagages**</td>
                <td><b> Prix / </b>Price</td>
                <td><b> Class / </b>Class</td>
                <td><b>Statut* / </b>Statut*</td>
            </tr>
            <tr>
                <td><h4>***Date départ</h4></td>
                <td><h4>***Date arrivé</h4></td>
                <td><p>***num vol</p></td>
                <td><p> ***bagage</p></td>
                <td><p>***prix</p></td>
                <td><p>***class</p></td>
                <td><p>statut</p></td>
            </tr>
            <tr>
                <td><b>***Ville départ</b></td>
                <td><b>***Ville arrivée</b></td>
            </tr>
        </table>
        <table class="tab2">
            <tr>
                <td class="tab21">(*) OK = confirmé <br>
                ** Total des bagages transportés en soute pour
            l'ensemble des passagers (bagages inclus dans le prix du billet plus éventuels
        bagages déjà achetés en supplément). Au-delà, vous devez acquitter un supplément à l'aéroport.
        Ces informations sont valables pour les vols effectués par MARHABA AIRLINES. <br> <br> 
    Pour plus d'informations concernant les bagages, veuillez consulter le site MARHABA AIRLINES,
                    rubrique Informations, Bagages.
                <br><br>
            Pour gagner du temps, obtenez votre carte d'embarquement en scanant le code-barres en haut.</td>
                <td class="tab22">(*) OK = confirmed <br>
                ** Total checked baggage for all passengers (baggage included in the ticket price) and additional baggage items will be subject to a fee payable at the airport.
            This applies to flights operated by MARHABA AIRLINES. <br> <br>
            For more information about baggage, please vivit the "Baggage" chapter of the "Information" section, on the MARHABA AIRLINES website.
        <br><br>
        To save time, scan the bar code to receive your boarding pass.</td>
            </tr>
            <tr>
                <td>
                </td>
                <td></td>
            </tr>
        </table>
        <div class="foot">
            <p class="p1">MARHABA AIRLINES VOUS SOUHAITE UN AGREABLE VOYAGE / MARHABA AIRLINES WHISHES YOU A VERY PLEASANT TRIP </p>
            <table>
                <tr>
                    <td class="tab21">Ce document confirme la création de votre billet électronique dans nos systèmes informatiques.
                        Il ne permet pas l'accès à bord.
                    </td>
                    <td class="tab22">
                        This document confirms that your electronic ticket has been created in our systems.
                        It does not allow access on board.
                    </td>
                </tr>
            </table>
        <div>

    </div>

</div>

