<app-aside-fix></app-aside-fix>
<div class="content">
    <h3>Accueil</h3>
    <p style="color:black; font-weight:500;">Notre projet consiste à créer une plateforme sur laquelle les personnels du service clients peuvent se connecter à l’aide d’un identifiant et d’un mot de passe. Ils pourront consulter les informations des vols disponibles, gérer les réservations de vols des clients et les enregistrements des passagers. Également, ils pourront générer de manière automatique, sous format PDF,  les documents officiels tels que les billets d’avions et les cartes d’embarquement.
    L’ensemble des informations sur les vols et les réservations des clients seront stockées dans des fichiers XML qu’il faudra générer de manière automatique et valider.
    </p>
</div>